{% extends 'web/base.html' %}
{% block shop %}
{% load static %}
        <main>
            <!-------------------------------------------- Shop section ------------------------------------------->
            <section class="section-works shop">
                <div class="my-container">
                    <div class="shop-title">
                        <h1 class="title">Shop</h1>
                    </div>
                </div>
                <div class="my-container">
                    <div class="under-line-wrapper">
                        <div class="shop-wrapper">
                            <div class="row flex-nowrap gx-lg-5">
                                <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                                    <div class="image-box">
                                        <img src="{% static 'assets/images/art.jpg' %}" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                                    <div class="image-box">
                                        <img src="{% static 'assets/images/art.jpg' %}" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                                    <div class="image-box">
                                        <img src="{% static 'assets/images/art.jpg' %}" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                                    <div class="image-box">
                                        <img src="{% static 'assets/images/art.jpg' %}" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                                    <div class="image-box">
                                        <img src="{% static 'assets/images/art.jpg' %}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock shop %}
