/*-------------------------------------------------
    [ ## Buttons ]
*/

/*-------------------------------------------------
    [ ## custom btn ]
*/
.btn--primary {
    background-color: #7367f0;
}

.btn--dark {
    background-color: #121212;
    color: #fff;
    width: 100px;
    height: 29px;
    font-size: 12px;
}

.border--secondary {
    border: 1px solid #121212;
}
.border--success {
    border: 1px solid #28c76f;
}
.border--danger {
    border: 1px solid #ea5455;
}


